<div class="container-fluid p-0 ">
  <div id="demo" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/sf4.jpg" width="100%" height="100%" class="tales">
      </div>
      <div class="carousel-item">
          <img src="assets/sf7.jpg" width="100%" height="100%" class="tales">
      </div>
      <div class="carousel-item">
          <img src="assets/sf8.jpg"width="100%"height="100%" class="tales">
      </div>
      <div class="carousel-item">
          <img src="assets/student.jpg"width="100%"height="100%" class="tales">
      </div>
      <a class="carousel-control-prev"
          href="#demo"
          data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next"
          href="#demo"
          data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
      </ul>
    </div>
  </div>
  <div class="title">
          <div class="title-text">
              <h5 class="text-center mt-1 text-muted">Employee Management System</h5>
         </div>
      <div class="title-underline"></div>
   </div>
  <div class="row">
      <div class="col-sm-2">
       
      </div>
      <div class="col-sm-8 mx-auto">
              <div class="card-deck mt-3">
                      <div class="card">
                        <div class="card-body">
                          <img src="assets/sf20.jpg" width="100%" height="100%" style="border-radius:10px">
                          <h4 class="card-title mt-2">Details:</h4>
                          <h6 class="card-subtitle mb-2 text-muted">Employee</h6>
                          <p class="card-text">
                            Some quick example text to build on the card title
                            and make up the bulk of the card's content.
                          </p>
                        </div>
                      </div>
                      <div class="card">
                              <div class="card-body">
                                <img src="assets/sf6.jpg" width="100%" height="100%"  style="border-radius:10px">
                                <h4 class="card-title mt-2">Details:</h4>
                                <h6 class="card-subtitle mb-2 text-muted">Employee</h6>
                                <p class="card-text">
                                  Some quick example text to build on the card title
                                  and make up the bulk of the card's content.
                                </p>
                              </div>
                            </div> 
                            <div class="card">
                                  <div class="card-body">
                                    <img src="assets/child.jpg" width="100%" height="100%"  style="border-radius:10px">
                                    <h4 class="card-title mt-2">Details:</h4>
                                    <h6 class="card-subtitle mb-2 text-muted">Employee</h6>
                                    <p class="card-text">
                                      Some quick example text to build on the card title
                                      and make up the bulk of the card's content.
                                    </p>
                                  </div>
                                </div>
                    </div>
      </div>
 <div class="col-sm-2"></div>
  </div>
  <div class="title">
          <div class="title-text">
              <h5 class="text-center mt-3 text-muted">Business Management System</h5>
         </div>
      <div class="title-underline"></div>
   </div>
  
      
    <div id="car" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner college">
        <div class="carousel-item text-center active">
            <div class="jumbotron" style="background-color:#08a9e0"  >
                <h2 class="text-white">Employee Management System!</h2>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for
                                calling extra attention to featured content or information.</p>
                <hr class="my-2">
                <p><q>It uses utility classes for typography and
                   spacing to space content out within the larger container.</q></p>
                   <img src="assets/kareem4.jpg" style="width:80px;height:80px;border-radius:35px">
                   <p class="mt-2 text-white">SHAIK KARIMULLA</p>
                   <P class="text-white" style="margin-top:-10px">MEAN Stack SoftWare Developer</P>
              </div>
        </div>
        <div class="carousel-item text-center">
            <div class="jumbotron" style="background-color:#08a9e0"  >
                <h2 class="text-white">Employee Management System!</h2>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for
                                calling extra attention to featured content or information.</p>
                <hr class="my-2">
                <p><q>It uses utility classes for typography andgit push heroku master
                   spacing to space content out within the larger container.</q></p>
                   <img src="assets/manoj.jpg" style="width:80px;height:80px;border-radius:35px">
                   <p class="mt-2 text-white">UNIKELA MANOJ</p>
                   <P class="text-white" style="margin-top:-10px">MEAN Stack SoftWare Developer</P>
              </div>
        </div>
        <div class="carousel-item text-center">
            <div class="jumbotron" style="background-color:#08a9e0"  >
                <h2 class="text-white">Employee Management System!</h2>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for
                                calling extra attention to featured content or information.</p>
                <hr class="my-2">
                <p><q>It uses utility classes for typography and
                   spacing to space content out within the larger container.</q></p>
                   <img src="assets/praveen.jpg" style="width:80px;height:80px;border-radius:35px">
                   <p class="mt-2 text-white">PRAVEEN KUMAR</p>
                   <P class="text-white" style="margin-top:-10px">MEAN Stack SoftWare Developer</P>
              </div>
        </div>
        <div class="carousel-item text-center">
          <div class="jumbotron" style="background-color:#08a9e0"  >
              <h2 class="text-white">Employee Management System!</h2>
              <p class="lead">This is a simple hero unit, a simple jumbotron-style component for
                              calling extra attention to featured content or information.</p>
              <hr class="my-2">
              <p><q>It uses utility classes for typography and
                 spacing to space content out within the larger container.</q></p>
                 <img src="assets/chandu.jpg" style="width:80px;height:80px;border-radius:35px">
                 <p class="mt-2 text-white">SAI CHAND </p>
                 <P class="text-white" style="margin-top:-10px">MEAN Stack SoftWare Developer</P>
            </div>
      </div>
        <a class="carousel-control-prev"
          href="#car"
          data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next"
          href="#car"
          data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
       
      </div>
      
    </div>
      

<!--                Footer Start                          -->
<div>
<footer class="footer-distributed"  style="margin-top:-32px">

  <div class="footer-left">

    <h3>Second<span>Campus</span></h3>

    <p class="footer-links">
      <a routerLink="home1">Home</a>
      ·
      <a routerLink="login">Login</a>
      ·
      <a routerLink="aboutus">About</a>
      ·
      <a routerLink="carrers">Career Us</a>
      ·
      <a routerLink="#">Faq</a>
      ·
      <a routerLink="contactus">Contact</a>
    </p>

    <p class="footer-company-name">Employee Management System &copy; 2019</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>21 Ameerpet Street</span> Hyderabad, KPHB</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+91 9182491215</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a routerLink="contactus">karimulla1696@company.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About the company</span>
      The Employees module consists of various features allowing you to perform general human resource management tasks such as employee history, perks and incident reports. Any information needed is available at the click of a button with comprehensive reporting features.
    </p>

    <div class="footer-icons">

     <span> <a routerLink="#"><i class="fab fa-facebook-f"></i></a> </span>
      <span><a routerLink="#"><i class="fab fa-twitter-square"></i></a></span>
     <span> <a routerLink="#"><i class="fab fa-linkedin-in"></i></a></span>
    <span> <a routerLink="#"><i class="fab fa-instagram"></i></a></span>

    </div>

  </div>

</footer>
</div>
<!--                Footer End                          -->
</div>
