<div class="container-fluid p-0">
  <!-- <br/><br/><br/><br/><br/> -->
  <div class="row">
    <div class="col-sm-12">
      <img src='assets/path5.jpg'  width="100%" height="100%" class=" tales" p-0 >
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm-5">
    <div class="jumbotron ">
      <h5 class="text-danger">News and Highlights</h5><br>
      <a class="text-dark"><strong>Amigo Solutions Drive: </strong></a><br/>
      <p class="text-dark font-weight-light mt-2">Amigo Off Campus (AMG) Scheduled for the post of Programmer Analyst Trainee for 2019 Batch Engineering graduates & Engineer Trainee-Service Desk.</p>
      <button type="button" class="d-block  text-white mx-auto" style="padding:9px 15px;border-radius:4px;background-color:#58a4b0">Apply</button>
    </div>
  </div>
    <div class="col-sm-6">
      <div class="card-deck ">
              <div class="card">
                <div class="card-body">
                  <img src="assets/carrer2.png" width="100%" height="190px" style="border-radius:10px">
                  <h4 class="card-title mt-2">Details:</h4>
                  <h6 class="card-subtitle mb-2 text-muted">Carrers</h6>
                  <p class="card-text">
                    The diversity and strength of our workforce are fundamental to our success. People greatest strength. 
                  </p>
                </div>
              </div>
              <div class="card">
                      <div class="card-body">
                        <img src="assets/carrer3.jpg" width="100%" height="190px"  style="border-radius:10px">
                        <h4 class="card-title mt-2">Details:</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Carrers</h6>
                        <p class="card-text">
                          In 1991, OpenText launched as a project out of the University of Waterloo in Canada 
                        </p>
                      </div>
                    </div> 
                    <div class="card">
                          <div class="card-body">
                            <img src="assets/carrer4.jpg" width="100%" height="190px"  style="border-radius:10px">
                            <h4 class="card-title mt-2">Details:</h4>
                            <h6 class="card-subtitle mb-2 text-muted">Carrers</h6>
                            <p class="card-text">
                              New graduates and interns become a part of a world-class team, working on meaningful.
                            </p>
                          </div>
                        </div>
            </div>
</div>
  </div>
  <!-- <hr class="bg-dark"size=50> -->
  <div class="row">
    <div class="col-sm-6">
     
      
      <div class="embed-responsive embed-responsive-16by9" style="border-radius:10px;margin-bottom: 10px;margin-left:5px">
        <iframe class="embed-responsive-item" height="500px"  src="//www.youtube.com/embed/48OJbbI0DfE" allowfullscreen></iframe>
      </div>
    </div>
    <div class="col-sm-5">
      <div class="jumbotron" style="margin-top:50px">
        <h5 class="text-danger">News and Highlights</h5><br>
        <a class="text-dark"><strong>Amigo Solutions Drive: </strong></a><br/>
        <p class="text-dark font-weight-light mt-2">Amigo Off Campus (AMG) Scheduled for the post of Programmer Analyst Trainee for 2019 Batch Engineering graduates & Engineer Trainee-Service Desk.</p>
        <button type="button" class="d-block text-white mx-auto" style="padding:9px 15px;border-radius:4px;background-color:#58a4b0">Apply</button>
      </div>
    </div>
  </div>
 
  <!--                Footer Start                          -->
<div>
  <footer class="footer-distributed"  style="margin-top:-2px">
  
    <div class="footer-left">
  
      <h3>Second<span>Campus</span></h3>
  
      <p class="footer-links">
        <a href="#">Home</a>
        ·
        <a href="#">Login</a>
        ·
        <a href="#">About</a>
        ·
        <a href="#">Career Us</a>
        ·
        <a href="#">Faq</a>
        ·
        <a href="#">Contact</a>
      </p>
  
      <p class="footer-company-name">Employee Management System &copy; 2019</p>
    </div>
  
    <div class="footer-center">
  
      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>21 Ameerpet Street</span> Hyderabad, KPHB</p>
      </div>
  
      <div>
        <i class="fa fa-phone"></i>
        <p>+91 9182491215</p>
      </div>
  
      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:support@company.com">karimulla1696@company.com</a></p>
      </div>
  
    </div>
  
    <div class="footer-right">
  
      <p class="footer-company-about">
        <span>About the company</span>
        The Employees module consists of various features allowing you to perform general human resource management tasks such as employee history, perks and incident reports. Any information needed is available at the click of a button with comprehensive reporting features.
      </p>
  
      <div class="footer-icons">
  
       <span> <a href="#"><i class="fab fa-facebook-f"></i></a> </span>
        <span><a href="#"><i class="fab fa-twitter-square"></i></a></span>
       <span> <a href="#"><i class="fab fa-linkedin-in"></i></a></span>
      <span> <a href="#"><i class="fab fa-instagram"></i></a></span>
  
      </div>
  
    </div>
  
  </footer>
  </div>
  <!--                Footer End                          -->
</div>