<div id="x">
    <div class="mt-5">
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary fixed-top">
            <a class="navbar-brand" routerLink="#">
                <img src="assets/admin.png" style="width:70px;height:60px; border-radius:30px;margin-left:15px">
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a routerLink="empolyeedetails" class="nav-link mr-4" >Admin details</a>
                </li>
                <li class="nav-item">
                    <a routerLink="empolyeeattendance" class="nav-link  mr-4">Admin Attendence</a>
                </li>
                <li class="nav-item">
                    <a routerLink="empolyeeleave" class="nav-link  mr-4">Admin Leave</a>
                </li>
                <li class="nav-item">
                    <a routerLink="empolyeepayslip" class="nav-link  mr-4">Admin PaySlip</a>
                </li>
            </ul>
            <a routerLink=""><button type="button" class="btn btn-default" style="margin-left:850px;background-color: #20F5DA">Logout</button></a>
          </nav>
    </div>
  </div>
  <router-outlet></router-outlet>
  
