<div class="container-fluid">
    <nav class="nav  navbar-expand-xl navbar-dark  sticky-top" style="background-color:#58A4B0">
        <a class="navbar-brand" routerLink="">
            <img src="assets/logo5.png" style="width:70px;height:60px;margin-left:15px">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#id1">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="id1" class="collapse navbar-collapse">
        <ul class="navbar-nav text-center mt-3">
               <li class="nav-item active ml-4">
               <a routerLink="home1" class="nav-link">Home</a>
              </li>
             <li class="ml-4">
                <a routerLink="login" class="nav-link">Login</a>
                </li>
            <li class="ml-4">
           <a routerLink="aboutus" class="nav-link">About us</a>
           </li>
           <li class="ml-4">
            <a routerLink="carrers" class="nav-link">Career us</a>
            </li>
            <li class="ml-4">
                <a routerLink="contactus" class="nav-link">Contact Us</a>
            </li>
        </ul>
    </div>
    </nav>
    <router-outlet></router-outlet>
    </div>
  
  